* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #B4C2C1; /* #ccd6d9 */
}
header {
    display: flex;
    background-color: #527997; /* #3e3f7b*/
    height: 65px;
    width: 100%;
    justify-content: center;
    position: fixed;
}
header > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_left {
    display: flex;

}
header > div > div {
    display: flex;
    align-items: center;
}
header > div > div > a {
    display: flex;
    align-self: center;
    padding: 23px 20px 23.5px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
header > div > div > a:hover {
    background-color: rgb(87, 136, 179);
}

header > div > div > button {
    align-self: center;
    height: 60%;
    width: 40px;
    padding: 1px 8px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 60px;
    background-color: #527997;
    transition-duration: 0.3s;
}
header > div > div > button:hover {
    background-color: rgb(87, 136, 179);
}
header > div > div > button > i {
    height: 0;
}

.header_right {
    display: flex;

}
.row {
    padding-top: 65px;
}
.column_a {
    background-color: #444D57; /* #5a5a60*/
    width: 150px;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 10px;
}
.column_a > div {
    display: grid;
    width: 100%;
}
.column_a > div > a {
    justify-self: center;
    text-align: center;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
}
.column_a > div > a:hover {
    background-color: #686f86;
}
.column_b {
    display: grid;
    width: calc(100% - 150px);
    height: fit-content;
    margin-left: 150px;
    padding-top: 2%;
}
.content_PImg {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-self: center;
    height: fit-content;
    width: 60%;
    border-color: rgb(167, 50, 50);
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 15px;
    background-color: white;
    padding: 10px 15px 10px 15px;
}
.content_P {
    display: grid;
    justify-self: center;
    height: fit-content;
    width: 60%;
    border-color: rgb(164, 87, 87);
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 15px;
    background-color: white;
    padding: 10px 15px 10px 15px;
} 
.column_b > div > p {
    background-color: #527997;
    margin-right: 15px;
    padding: 10px;
    border-radius: 20px;
}
.column_b > div > img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}
footer {
    display: flex;
    background-color: #7d8798;
    padding: 10px;
    margin-top: 30px;
    justify-content: center;

}

@media screen and (max-width: 900px) { /*TODO: header skal gå væk på telefon når man scroller ned(eller blive mindre)*/
    header {
        display: flex;
        width: 100%;
        justify-content: center;
        position:static;
    }
    .header_left > button {
        position: fixed;
        max-height: 40px;
        max-width: 40px;
        width: 50px;
        margin-left: 3.5px;
    }
    .header_left > a {
        margin-left: 75px;
    }
    .column_a {
        display: none;
        width: 40%;
        height: 100%;
        position: fixed;
        overflow-x: hidden;
        padding-top: 10px;
    }
    .column_b {
        display: grid;
        width: calc(100%);
        height: fit-content;
        margin-left: 0px;
        padding-top: 2%;
    }
    .column_b > div {
        display: grid;
        justify-self: center;
        height: 500px;
        width: 75%;
        border-color: black;
        border: 2px;
        border-style: solid;
        margin-top: 15px;
    }
}
@media screen and (max-width: 400px) {
    header {
        display: flex;
        height: 40px;
        width: 100%;
        justify-content: center;
        position:static;
    }
    header > div > div > a {
        padding: 10px;
        text-decoration: none;
    }
    .header_left > button {
        position: fixed;
        max-height: 30px;
        max-width: 30px;
        width: 50px;
        margin-left: 5px;
    }
    .header_left > button > i {
        font-size: 1.2em;
    }
    .header_left > a {
        margin-left: 40px;
    }
}