* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 218, 226); /* #ccd6d9 #b3c2cd rgb(162, 194, 206)*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    display: flex;
    background-color: #527997; /* #3e3f7b*/
    height: 65px;
    width: 100%;
    justify-content: center;
    position: fixed;
    transition-duration: 0.5s;
}

h2 {
    font-size: 40px;
    padding-bottom: 6px;
    font-weight: 500;
    color: rgb(0, 112, 143);
    margin: 0;
}
h3 {
    font-size: 30px;
    padding-bottom: 4px;
    font-weight: 400;
    color: rgb(0, 112, 143);
    margin: 0;
}
h4 {
    font-size: 24px;
    padding-bottom: 2px;
    font-weight: 300;
    color: rgb(0, 112, 143);
    margin: 0;
}
li {
    margin: 12px;
}
footer {
    display: flex;
    background-color: #8494b1;
    margin-top: 30px;
    padding: 10px;
    justify-content: center;
}
header > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_left {
    display: flex;
}
.header_left > button {
    cursor: pointer;
}
.open_btn {
    display: none;
}
header > div > div {
    display: flex;
    align-items: center;
}
header > div > div > a {
    display: flex;
    align-self: center;
    padding: 23px 20px 23.5px 20px;
    text-decoration: none;
    color: #f5cb42;
    transition-duration: 0.5s;
}
header > div > div > a:hover {
    background-color: rgb(87, 136, 179);
}

header > div > div > button {
    align-self: center;
    height: 60%;
    width: 40px;
    padding: 1px 8px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 60px;
    background-color: #527997;
    transition-duration: 0.3s;
}
header > div > div > button:hover {
    background-color: rgb(87, 136, 179);
}
header > div > div > button > i {
    height: 0;
}

.header_right {
    display: flex;
}
.row {
    padding-top: 65px;
}
.column_a {
    display: grid;
    background-color: #444D57; /* #5a5a60*/
    width: calc(2.5% + 125px);
    height: calc(100% - 65px);
    position: fixed;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    align-content: space-between;
    
}
.column_a > div {
    display: grid;
    width: 100%;
    height: fit-content;
}
.column_a > div > a {
    justify-self: center;
    text-align: center;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: #f5cb42;
    text-decoration: none;
    transition-duration: 0.2s;
}
.column_a > div > a:hover {
    background-color: #686f86;
}
.column_b {
    display: grid;
    width: calc(100%);
    height: fit-content;
    padding-top: 2.5%;
}
.column_b > div {
    display: grid;
    transition-duration: 0.15s;
    width: 60%;
}

.column_b > div > article > p {
    padding: 5px;
    margin-bottom: 14px;
    border-radius: 10px;
    line-height: 1.5;
}
.column_b > div > article > img {
    align-self: center;
    max-height: 100%;
    max-width: 100%;
    min-height: 200px;
    min-width: 100%;
    width: 100%;
}
.content_PImg {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 6fr 3fr;
    justify-self: center;
    height: fit-content;
    width: 60%;
    margin-top: 5px;
    padding: 15px;
}
.content_PImg > article {
    padding: 20px 0px 20px 35px;
}
.example_box > ul {
    padding: 1px;
}
.content_P > article {
    padding: 20px 35px;
}
.content_2P > article {
    padding: 20px 35px;
}
.content_4P > article {
    padding: 10px 20px;
    text-align: center;
}
.content_P {
    display: grid;
    justify-self: center;
    height: fit-content;
    width: 60%;
    border-radius: 20px;
    margin-top: 5px;
    padding: 15px;
} 
.content_2P {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    height: fit-content;
    width: 60%;
    border-radius: 20px;
    margin-top: 5px;
    padding: 15px;
}
.content_4P {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
} 
.content_4P > article {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content_2box {
    display: grid;
    justify-self: center;
    margin-top: 15px;
}
.content_box {
    display: grid;
    justify-self: center;
    height: fit-content;
    width: 100%;
    border-radius: 20px;
}
.content_box > article {
    padding: 20px 35px;
}
.content_2box > div > div {
    grid-template-columns: 1fr;
}
.example_box {
    background-color: #ffebab; /* #f5cb42 og #ffebab*/
    padding: 0;
}
.fakta_box {
    background-color: #ffdf7e; /* #ffdf7e*/
}
.text_box {
    background-color: #e5f1ff;
}

@media screen and (max-width: 1400px) {
    .column_b > div {
        width: 72%;
    }
}
@media screen and (max-width: 900px) { /*TODO: header skal gå væk på telefon når man scroller ned(eller blive mindre)*/
    header {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 40px;
    }
    header > div > div > a {
        display: flex;
        align-self: center;
        padding: 9px 15px 11px 15px;
        text-decoration: none;
        color: #f5cb42;
        transition-duration: 0.5s;
    }
    .header_left > button {
        position: fixed;
        max-height: 35px;
        max-width: 35px;
        width: 50px;
        margin-left: 5px;
    }
    .header_left > a {
        margin-left: 75px;
    }
    div {
        word-wrap: break-word;
    }
    .column_a {
        width: calc(2.5% + 125px);
        height: 100%;
        position: fixed;
        overflow-x: hidden;
        padding-top: 10px;
    }
    .row {
        padding-top: 40px;
    }
    .column_b {
        display: grid;
        width: calc(100%);
        height: fit-content;
        margin-left: 0px;
        padding-top: 2%;
    }
    .column_b > div {
        width: 80%;
    }
    .content_PImg {
        display: grid;
        grid-template-columns: none;
        justify-self: center;
        height: fit-content;
        font-size: 12px;
        border-radius: 20px;
        margin-top: 15px;
        background-color: rgb(255, 255, 255);
        padding: 10px 15px 25px 15px;
    }
    .content_P {
        background-color: white;
    }
    .content_2P {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: none;
        justify-self: center;
        height: fit-content;
        border-radius: 20px;
        margin-top: 15px;
        padding: 10px 15px 25px 15px;
        background-color: rgb(255, 255, 255);
    }
    .content_2box {
        display: grid;
        grid-gap: 15px;
        grid-template-rows: 1fr 3fr;
        justify-self: center;
        height: fit-content;
        border-radius: 20px;
        margin-top: 5px;
        padding: 15px;
    }
    .content_4P {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 15px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }
    .content_2box {
        background-color: #ffffff;
    }
    .column_b > div > article {
        background-color: #ffeba1;
        margin-right: 0px;
        padding: 10px;
    }
    ul {
        padding-left: 30px;
    }
    li {
        font-size: medium;
        list-style-type: none;

    }
    .column_b > div > article > img {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        border-radius: 20px;
        margin-top: 15px;
    }
    .column_b > div > article > p {
        font-size: large;
        line-height: 1;
    }
    
}